
<!-- Single Post View -->


<div class="col-md-8">
    <div class="row">
    <div class="post-box">
        <h1 class="page-title"><%= markdown @post.title %></h1>
        <div class="button">
            <small>
                <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
                submitted <%= time_ago_in_words(@post.created_at) %> ago by<%= @post.user.name %>
            </small>

            <% if policy(@post).edit? %>
            <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
            <% end %>
        </div>

        <div class="break-float"></div>   
  
            <p><%= markdown @post.body %></p>
        </div>
        
    </div>

    <% @post.comments.each do |comments| %>
    <p><%= link_to (@comment.body), [@post, comment] %></p>
    <% end %>

</div>
<div class="col-md-4">
    <div class="post-box">
        <p><h3 class="side-topic-name"><%= @topic.name %></h3></P>
        <p><h4><%= @topic.description %><h4></p>
        <hr class="post-box-divider"></hr>
            
            <% @topic.posts.each do |post| %>
            <h5><%= link_to (markdown post.title), [@topic, post] %></h5>        
            <% end %>                
    
    
  
   
    </div>
    <div class="post-box">
<%= render partial: 'comments/form',  collection: @posts, locals: { topic: @topic, post: @post, comment: @new_comment} %>
</div>


</div>